/** This is a comment that the browser will ignore,
* Put your CSS code into this file
*/

h1{
  /*indents the heading to 35px from left margin*/
  text-indent: 35px;
  /*underlines the heading*/
  text-decoration: underline;
  /*grey color shadow */
  text-shadow: 2px 0 15px grey;
}

h1:hover{
  /*all letters become capital on hover*/
  text-transform: capitalize;
  /*font-family changes to sans-serif on hover*/
  font-family: sans-serif;
}
